<p>Hoasdasd sadasdasd</p>
asdasdasjhgjhasd

<a [routerLink]="['/home']" routerLinkActive="active">Home</a>

{{restData}}

<ul>
    <li *ngFor="let v of restData">
        {{v.id}} {{v.name}} <img src="{{v.image}}">
    </li>
</ul>